.signup-form{
    width: 40%;
    height: 60vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.signup-header{
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.signup-body{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.signup{
    width: 80%;
    height: 40px;
}
.signup-button{
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signupBtn{
    border: 0;
    background-color: cadetblue;
    width: 150px;
    height: 40px;
}
.signupBtn:hover{
    transition: 0.5s linear;
    border-radius: 20px;
    background-color: rgb(18, 231, 238);
}