*{
    color: black;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    width: 100%;
}
.nav-item{
    margin: 0px 10px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 0px;
    text-align: center;
}

.selected{
    filter: brightness(10);
    color: #d31d82;
}
.item{
    color: black;
}
.auth-btns{
    list-style: none;
    display: flex;
}
.auth-btns button{
    margin-right: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 25px;
    padding: 13px 35px;
    font-weight: 500;

}
.signoutBtn{
    background-color: rgb(81, 81, 223);
    color: white;
}
.signupBtn{
    color: white;
    background-color: rgb(11, 77, 163);
}
.signinBtn{
    color: white;
    background-color: rgb(88, 5, 155);
}
.signoutBtn:hover{
    background-color: rgb(53, 53, 226);
    color: white;
}

@media (min-width: 991px) {
    .nav-link {
        position: relative;
        display: inline-block;
        color: #000000;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
    }
    
    .nav-link::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #d31d82;
        transition: width 0.4s ease, left 0.4s ease;
    }
    
    .nav-link:hover::after {
        width: 100%;
        left: 0;
    }
}

@media (max-width:990px){
    .selected{
        color: black;
    }
    .nav-item:hover{
        transition-duration: 0.5s;
        background-color: rgb(81, 81, 223);
        border-radius: 15px;
    }
    .nav-item:hover a{
        color: white;
    }
    .navbar-brand{
        position:relative;
       left: 48%;
    }
    .auth-btns{
        position: absolute;
        right: 20px;
    }
    .auth-btns button{
        font-size: 13px;
    }
}
@media (max-width:650px){
    .container-fluid{
        padding: 20px 0px;
    }
    .navbar-brand img{
        display: none;
    }
}